@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
:root{
    --white: hsl(0, 0%, 100%);
    --lightGray: hsl(212, 45%, 89%);
    --grayishBlue: hsl(220, 15%, 55%);
    --darkBlue: hsl(218, 44%, 22%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit";
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--lightGray);
}

div#box{
    position: relative;
    border-radius: 15px;
    padding: 20px;
    background-color: var(--white);
    width: 320px;
    text-align: center;
}

div#box img#qr-image{
    width: 100%;
    border-radius: 15px;
}

div#box div#info{
    margin-top: 20px;
}

div#box div#info h2{
    color: var(--darkBlue)
}

div#box div#info p{
    color: var(--grayishBlue);
    margin-top: 10px;
}

@media screen and (max-width: 350px){
    div#box{
        width: 280px;
        padding: 15px;
    }

    div#box div#info{
        font-size: 14px;
    }
}